.Project_Blog {
    text-align: left;
    padding: 20px 20px;
    scale: 0.9;
}

.Project_Blog:hover {
    background-color: #313640;
    border-radius: 10px;
    
}

.Project_Blog:hover .Project_title {
    color:rgb(136 212 237);
}
.Project_Blog:hover .arrowImg{
    margin-left: 20px;
    
}
.arrowImg{
    width: 30px;
    margin-left: 10px;
    stroke-width: 1px;

}

.Project_title {
    color: rgb(203, 203, 203);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.Project_Info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.ProjectImg {
    width: 150px;
    height: 100px;
    margin-right: 20px;
}

.Project_description {
    color: rgb(176, 176, 176);
    font-size: 14px;
    margin-top: 15px;
    line-height: 23px;
    margin-bottom: 20px;
}

.Project_SkillList {
    width: max-content;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
}

.Project_SkillList span{
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    margin-right: 15px;
    font-size: 15px;
    width: max-content;
    height: 20px;
    align-items: center;
}

.Project_SkillList span.haveSkill {
    color:rgb(255, 255, 255);
    background-color: rgb(255, 23, 23);
    
}
.Project_SkillList span.DNhaveSkill {
    color:rgb(136 212 237);
    background-color: rgb(70, 70, 70);
}