.Header_NavBar{
    position: relative;
    z-index: 3;
}
.Header_BlogName{
    color: rgb(194, 194, 194);
    margin-top: 20px;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    cursor: pointer;
}
.Nav_Logo{
    width: 250px;
}