.Skill{
    width: 700px;
    margin-top: 30px;
}
.Skill_List{
    display: flex;
    flex-direction: row;
}
.Skill > div{
    display: flex;
    flex-direction: column;
    width: 350px;
}
.Skill_title{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 13px;
}

/* 체크박스 */
.checkbox {
    width: 11px;
    height: 11px;
    border: 1px solid;
    border-radius: 100%;
    margin-right: 10px;
    position: relative;
    margin-top: 2px;
  }
  
/* 🔵 Front End 체크박스 */
  .checkbox.front , .Skill_title.Front.End {
    border-color: rgb(255, 66, 66);
    color: rgb(255, 99, 71);
  }
/* 🔴 Back End 체크박스 */
  .checkbox.back  , .Skill_title.Back.End{
    border-color: rgb(27 182 255);
    color: rgb(27 182 255);
  }
  /* 🟣 DevOps 체크박스 */
  .checkbox.devOps , .Skill_title.DevOps{
    border-color: rgb(147, 112, 219);
    color: rgb(147, 112, 219);
  }

.Front_Category , .Back_Category , .DevOps_Category{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    margin-bottom: 10px;
}
.front_Skill , .back_Skill , .devOps_Skill{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    color: white;
    width: 700px;
}
.front_Skill span , .back_Skill span , .devOps_Skill span{
    display :flex;
    flex-direction: row;
    width:max-content;
    height: 30px;
    padding: 10px 10px 10px 20px;
    letter-spacing: 1px;
    margin-bottom: 7px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 550;
    text-align: center;
    border:0px solid gray;
    border-radius: 20px;
    align-items: center;
    background-color: rgb(45, 45, 45);
    color: rgb(201, 221, 238);
}
/* 왜 안돼 시발 !!!*/
.SkillName{ 
    margin-right: 10px !important
}
