.Introduce{
    text-align: left;
}
.Introduce_Title{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-weight: bold;
    color: rgb(228, 228, 228);
    margin-bottom: 10px;
}
.Title_Job{
    font-size: 30px;
    color: rgb(220,220,220);
}
.Introduce_Description{
    font-size: 18px;
    color: rgb(193, 193, 193);
    line-height: 28px;
}