.Social{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    width: max-content;
    margin-top: 20px;
}
.Social_title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: none !important;
    color: white;
}
.Social > div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #DCE2F0;
    color: #50586C;
    border-radius: 4px;
    padding-left: 3px;
    width: max-content;
    font-weight: bold;
    font-size: 16px;

}
.Social > a{
    outline: none;
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: bold;

}
.Social > div > img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
