body{
    background: rgb(36, 36, 36) !important;
}
.MainPage_introduce {
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-section {
    position: relative;
    top: 65px;
    width: 57%;
    margin-left: 17px;
}

.intro_mobile-fixed {
    position: fixed;
}

.intro-fixed {
    padding : 9rem 1.3rem;
}

@media (max-width:1963px) {
    .intro_mobile-fixed {

        position: relative;
    }
}

@media (max-width: 1440px) {
    .project-section {
        margin-left: 0;
        width: 100%;
    }

    .intro_mobile-fixed {
        position: relative;
    }
}

@media (max-width: 1024px) {
    .intro-fixed {
        margin-top: 20px;
    }

    .project-section {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .Header_NavBar {
        margin-bottom: 30px;
    }

    .intro-fixed {
        position: static;
        margin-top: 20px;
        width: 100%;
        margin: 0 auto;
    }
}